---
import DeveloperCard from '@components/DeveloperCard.astro';
import Layout from '@layouts/Layout.astro';
import sample from '../assets/images/sample.png';
const developers = [
  {
    name: 'Len',
    description: '"I dont know broo"',
    linkedinLink: '#',
    githubLink: '#',
    instagramLink: '#',
    frontImage: 'Len',
    backImage: 'lenanime',
  },
  {
    name: 'Karthik S salian',
    description: '"Who said I left the kitchen? ðŸ˜Ž â„"',
    linkedinLink: '#',
    githubLink: '#',
    instagramLink: '#',
    frontImage: 'karthik',
    backImage: 'karthikanime',
  },
  {
    name: 'Varshith Pawar ',
    description: '"Your phone linging"',
    linkedinLink: 'https://linkedin.com/in/varshithpawarhr',
    githubLink: 'https://github.com/VarshithPawarHR',
    instagramLink: 'https://www.instagram.com/mr.pawar_10/',
    frontImage: 'varshith',
    backImage: 'varshithanime',
  },
  {
    name: 'Rakshith Vijay',
    description: '"Dont touch my daughter"',
    linkedinLink: '#',
    githubLink: '#',
    instagramLink: '#',
    frontImage: 'rakshith',
    backImage: 'rakshithanime',
  },
  {
    name: 'Anant Shetty',
    description: '"HTML+ Golang"',
    linkedinLink: '#',
    githubLink: '#',
    instagramLink: '#',
    frontImage: 'Ananth',
    backImage: 'ananthanime',
  },
  {
    name: 'Ameesha Ruzario',
    description: '"Answer the joy"',
    linkedinLink: '#',
    githubLink: '#',
    instagramLink: '#',
    frontImage: 'ameesha',
    backImage: 'ameeshaanime',
  },
  {
    name: 'Bhavya Nayak',
    description: '"A retired CR"',
    linkedinLink: '#',
    githubLink: '#',
    instagramLink: '#',
    frontImage: 'bhavya',
    backImage: 'bhavyaanime',
  },
  {
    name: 'Varun Pai',
    description: '"Flutter fluttering"',
    linkedinLink: '#',
    githubLink: '#',
    instagramLink: '#',
    frontImage: 'varunpai',
    backImage: 'varunpaianime',
  },
  {
    name: 'AkhilManoj',
    description: '"No--words"',
    linkedinLink: '#',
    githubLink: '#',
    instagramLink: '#',
    frontImage: 'akhil',
    backImage: 'akhilanime',
  },
  {
    name: 'Chinmayee Bhat',
    description: '"sings"',
    linkedinLink: 'https://www.linkedin.com/in/chinmayee-bhat-644454259/',
    githubLink: 'https://github.com/CHINMAYEEBHAT',
    instagramLink: 'https://www.instagram.com/chinmayeebhat_sings/',
    frontImage: 'Chinmayee',
    backImage: 'singanime',
  },
  {
    name: 'Chinmay Billawa',
    description: '"What is life?"',
    linkedinLink: '#',
    githubLink: '#',
    instagramLink: '#',
    frontImage: 'Chinmay Dinesh Billava',
    backImage: 'chinmayanime',
  },
  {
    name: 'Dilshan',
    description: '"I also dont know!!"',
    linkedinLink: '#',
    githubLink: '#',
    instagramLink: '#',
    frontImage: 'Dilshan',
    backImage: 'dilshananime',
  },
  {
    name: 'Varun Arkal',
    description: '"All hail me"',
    linkedinLink: '#',
    githubLink: '#',
    instagramLink: '#',
    frontImage: 'Arkal Varun Hegde',
    backImage: 'varunarkalanime',
  },
  {
    name: 'Pavan Chitrapura',
    description: '"design and aspire"',
    linkedinLink: '#',
    githubLink: '#',
    instagramLink: '#',
    frontImage: 'pavan',
    backImage: 'pavananime',
  },
];

const images: { [index: string]: any } = {};
await Astro.glob('/src/assets/images/developers/*.{jpg,png}').then((files) => {
  files.forEach((file) => {
    const name = file.default.src.split('.')[0].split('/').pop();
    images[name] = file.default;
  });
  //fallback image
  images['sample'] = sample;
});
---

<Layout title='ACE'>
  <main class="content-container">
    <div class="mt-32 flex flex-col gap-8 items-center">
      <h2 class="fade-up uppercase text-6xl text-center font-dirtyline">Meet the dev team</h2>
      <div class="flex flex-wrap gap-32 justify-center">
        {
          developers.map((dev) => {
            console.log(dev);
            return (
              <div class="developer-card">
                <DeveloperCard
                  name={dev.name}
                  description={dev.description}
                  linkedinLink={dev.linkedinLink}
                  githubLink={dev.githubLink}
                  instagramLink={dev.instagramLink}
                  frontImage={images[dev.frontImage]|| sample}
                  backImage={images[dev.backImage]||sample}
                />
              </div>
            );
          })
        }
      </div>
    </div>
  </main>
</Layout>

<style>
  body {
    overflow-x: hidden;
  }
  #tsparticles {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1; /* Ensures particles are behind other content */
  }
  @keyframes slideUp {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .fade-up {
    opacity: 0;
    transform: translateY(50px);
    animation: slideUp 1s ease-out forwards;
  }
  #tsparticles canvas {
    filter: blur(7px);
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const cards = gsap.utils.toArray('.developer-card') as HTMLDivElement[];

    window.gsapContext.add(() => {
      cards.forEach((element, i) => {
        gsap.set(element, { opacity: 0 });
        gsap.from(element, {
          y: 200,
          duration: 0.5,
          scrollTrigger: {
            trigger: element,
            start: 'top 100%',
          },
        });
      });

      ScrollTrigger.batch('.developer-card', {
        onEnter: (batch) =>
          gsap.to(batch, { opacity: 1, y: 0, stagger: { each: 0.15, grid: [1, 3] }, overwrite: true }),
        onLeaveBack: (batch) => gsap.set(batch, { opacity: 0, y: 100, overwrite: true }),
      });

      ScrollTrigger.addEventListener('refreshInit', () => {
        gsap.set('.developer-card', { y: 0 });
      });
    });
  });
</script>
