---
import { Icon } from 'astro-icon/components';

type Props = {
  blog: {
    id: number;
    title: string;
    content: string;
    description: string;
    createdAt: string;
    authorName: string;
    image: string;
    authorId: number;
  };
};

const { blog }: Props = Astro.props;
---

<a href={`/blogs/${blog.id}`} class="block transform transition-transform duration-300 ease-out hover:scale-[1.03]">
  <article class="border blog-card border-gray-700 bg-gray-800 p-4 outline-gray-700">
    <header class="flex justify-between items-center">
      <time class="text-gray-200">{blog.createdAt}</time>
      <div class="flex flex-wrap items-center justify-center space-x-2">
        <button><Icon name="mdi:github" size={30} /></button>
        <div class="flex items-center justify-center">
          <span class="text-xs mr-2">{blog.authorName}</span>
          <div class="w-8 h-8 bg-gray-200 shrink-0 flex justify-center rounded-xl items-start">
            <img src="/images/pic.jpg" class="object-cover w-full h-full rounded-xl" width="600" height="600" />
          </div>
        </div>
      </div>
    </header>
    <div class="-mx-4">
      <img src="/images/bg.jpg" alt="" class="my-4 aspect-[16/5] w-full object-cover" />
    </div>
    <div class="mt-6 grid gap-x-16 gap-y-4 md:grid-cols-2">
      <h3 class="heading-4 md:heading-3">
        <span class="text-2xl overflow-hidden line-clamp-2">
          {blog.title}
        </span>
      </h3>
      <p class="text-gray-200 overflow-hidden line-clamp-3">{blog.description}</p>
    </div>
  </article>
</a>
