---
import { Icon } from 'astro-icon/components';

export type Props = {
  name: string;
  email: string;
  github: string | null;
  linkedIn: string | null;
  instagram: string | null;
};

const { name, email, github, linkedIn, instagram } = Astro.props;
---

<dialog class="rounded-md z-20 h-fit relative" id="edit-profile-dialog">
  <section class="p-4 rounded-md h-fit dialog-container">
    <h2 class="text-center text-3xl mb-4 font-bold">User Actions</h2>

    <form method="dialog" class="absolute top-4 right-4">
      <button class="text-red-600 font-bold"><Icon name="mdi:window-close" /></button>
    </form>

    <!-- Edit User Form -->
    <form id="editUserForm" class="form-container mt-8">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" value={name} required />

      <label for="email">Email:</label>
      <input type="email" id="email" name="email" value={email} required />

      <label for="github">Github:</label>
      <input type="text" id="github" name="github" value={github} />

      <label for="linkedIn">LinkedIn:</label>
      <input type="text" id="linkedIn" name="linkedIn" value={linkedIn} />

      <label for="instagram">Instagram:</label>
      <input type="text" id="instagram" name="instagram" value={instagram} />

      <button type="submit" id="submit-btn">Edit User</button>
    </form>
  </section>
</dialog>

<style>
  dialog {
    background-color: rgb(21, 27, 35);
    border: 1px solid #ccc;
    border-radius: 8px;
    color: inherit;
  }

  input {
    @apply p-1 rounded border border-gray-700 bg-slate-600 text-white;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 80vw;
    margin: 0 auto;
    padding: 20px;
  }

  .form-container label {
    @apply font-semibold;
  }

  .form-container input {
    margin-bottom: 16px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .form-container button {
    padding: 10px;
    background-color: #22a7f0;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .form-container button:hover {
    background-color: #1b91d9;
  }

  #edit-profile-dialog[open] {
    animation: slidedown 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  @keyframes slidedown {
    0% {
      transform: translateY(-500px);
      opacity: 0;
    }

    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
</style>

<script>
  import { actions } from 'astro:actions';
  import { navigate } from 'astro:transitions/client';
  import { toast } from 'sonner';
  const submitButton = document.getElementById('submit-btn');
  const editUserForm = document.getElementById('editUserForm');

  async function handleEditUser(event: SubmitEvent) {
    event.preventDefault();

    const formData = new FormData(editUserForm as HTMLFormElement);
    const image = formData.get('image');

    console.log(image);

    (submitButton as HTMLButtonElement).disabled = true;
    if (submitButton) {
      submitButton.textContent = 'Updating...';
    }

    const { error } = await actions.editProfile(formData);
    (submitButton as HTMLButtonElement).disabled = false;
    if (submitButton) {
      submitButton.textContent = 'Edit User';
    }

    if (error) {
      toast.error('Failed to update!');
    } else {
      // toast.success('Updated successfully');
      navigate(window.location.pathname);
    }
  }
  editUserForm?.addEventListener('submit', handleEditUser);
</script>
